.env
*.pem

app
!app/index.php

docker/php/ssh
!docker/php/ssh/.gitkeep

docker/nginx/conf.d
!docker/nginx/conf.d/default.conf

docker/db/db-persist/
!docker/db/db-persist/.gitkeep

#Certbot
app/certbot.log

