.env
*.pem

app
!app/index.php

docker/_config/ssh
!docker/_config/ssh/.gitkeep

docker/php/config
!docker/php/config/.gitkeep

docker/nginx/conf.d
!docker/nginx/conf.d/.gitkeep

#Certbot
app/certbot.log

