app
!app/index.php

docker/php/ssh
!docker/php/ssh/.gitkeep

docker/nginx/conf.d
!docker/nginx/conf.d/default.conf

.env
*.pem

#Certbot
app/certbot.log
docker/nginx/letsencrypt
!docker/nginx/letsencrypt/.gitkeep
