version: '3'

services:
    traefik:
        image: traefik:1.7.4
        container_name: traefik-${PROJECT_NAME}
        ports:
            - ${TRAEFIK_PORT}:80
            - ${TRAEFIK_PORT_HTTPS}:443
            - ${TRAEFIK_DASHBOARD_PORT}:8080
        volumes:
            - ./traefik/traefik.toml:/etc/traefik/traefik.toml
            - /var/run/docker.sock:/var/run/docker.sock
        labels:
            - traefik.frontend.rule=Host:traefik.${PROJECT_NAME}

    php-fpm:
        build:
            context: .
            dockerfile: Dockerfile-php
        container_name: php-fpm-${PROJECT_NAME}
        ports:
            - 8000
        working_dir: /var/www/html/
        volumes:
            - ../app:/var/www/html
        tty: true
        env_file:
            - ./.env
        entrypoint: /entrypoint.sh
        labels:
            - traefik.enable=true
            - traefik.frontend.rule=Host:php.${PROJECT_NAME}

    nginx:
        build:
            context: .
            dockerfile: Dockerfile-nginx
        container_name: nginx-${PROJECT_NAME}
        links:
            - php-fpm
            - node
        ports:
            - 80
            - 443
        working_dir: /var/www/html
        volumes:
            - ./nginx/conf.d:/etc/nginx/conf.d
            - ../app:/var/www/html
            - data-volume:/etc/letsencrypt
            - data-volume:/var/log/nginx
        labels:
            - traefik.enable=true
            - traefik.frontend.rule=HostRegexp:{domain:[A-Za-z0-9-.]+}.local

    node:
        build:
            context: .
            dockerfile: Dockerfile-node
        container_name: node-${PROJECT_NAME}
        ports:
            - 4200
        tty: true
        working_dir: /var/www/html
        volumes:
            - ../app:/var/www/html
        env_file:
        - ./.env
        entrypoint: /entrypoint.sh
        labels:
            - traefik.enable=true
            - traefik.frontend.rule=Host:node.${PROJECT_NAME}

    db:
        image: mysql:8.0.13
        container_name: db-${PROJECT_NAME}
        ports:
            - 3306
        command: --default-authentication-plugin=mysql_native_password
        environment:
            - MYSQL_ROOT_PASSWORD=root
            - MYSQL_DATABASE=${PROJECT_NAME}
            - MYSQL_USER=admin
            - MYSQL_PASSWORD=admin
        volumes:
            - data-volume:/var/lib/mysql
        labels:
            - traefik.enable=true
            - traefik.frontend.rule=Host:db.${PROJECT_NAME}

    phpmyadmin:
        image: phpmyadmin/phpmyadmin:4.7
        container_name: phpmyadmin-${PROJECT_NAME}
        ports:
            - 80
        labels:
            - traefik.enable=true
            - traefik.frontend.rule=Host:phpmyadmin.${PROJECT_NAME}

    portainer:
        image: portainer/portainer
        container_name: portainer-${PROJECT_NAME}
        command: -H unix:///var/run/docker.sock
        ports:
            - 9000
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - portainer_data:/data
        labels:
            - traefik.enable=true
            - traefik.frontend.rule=Host:portainer.${PROJECT_NAME}

volumes:
    data-volume: {}
    portainer_data: {}
